*.jar
world/
!world\dimensions\minecraft\overworld\paper-world.yml
!world\dimensions\minecraft\the_end\paper-world.yml
!world\dimensions\minecraft\the_nether\paper-world.yml
.paper/console_history/
logs/
ops.json
plugins/spark
userchache.json